body {
	background-color: #e0d5cc;
}

#myLocation {
	height: 225px;
}

#table {
	width:98%;
	background-color: #998e86;
	margin-bottom: 1%;
}

#table th {
	text-align: left;
}

#table #theaders:hover {
	background:#998e86;
}

#table tr:hover {
	background: #fff;
}

#weatherInfo {
	height:170px;
}

h3 {
	color: #fff;
	
}
.boxtitle {
	width:98%;
	background-color: #998e86;
}

#boxleft {
	float:left;
	display:block;
	width: 90px;
}

#boxright {
	margin-left: 7%;
	float:left;	
}

.hide {
	display:none;
}

#scrollbar {
	overflow-x:auto;
}

/* media query met css grid layout */
@media only screen and (min-width: 700px) {
	#frame {
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-template-rows: 0fr 1fr;
	}
	#myLocation {
		grid-column: 1; grid-row: 1;
	}
	#weatherInfo {
		grid-column: 2; grid-row: 1;
	}
	#countryList { grid-column: 1/3; grid-row: 2};
}

