.imgsizel {
	position: relative;
    float: left;
    width:  113px;
    height: 120px;
    margin-right: 1%;
    margin-top: 12%;
}

#sendForm {
	margin-left: 10%;
}

#sendForm input, textarea {
	color:black;
}

#verzendemail {
	margin: 2% 0% 0% 9%;
}

.addBox {
    margin-left: 10%;
}

.addBox button {
	margin-top: 2%;
}

.addBox input, button {
	color: black;
}

#productaantal {
	color: black;
	text-align: center;
	width: 50%;
}

.producttitle {
	margin-top: 7%;
}

.productcard {
	color: white;
}

.modal-content {
	color: black;
}

.show 	{
	display: block;
}

.hide {
	display: none;
}

.fontsizenav {
	font-size: 16px !important;
	float: right !important;
}

.fontsizenavheader {
	font-size: 30px !important;
	float: left !important;
}
.floatright {
	float: right;
}

.nomargin {
	padding: 0 !important;
	margin: 0 !important;
	width: 100%;
	max-width: 1540px !important;
}

.thead-light th {
	text-align: center;
}

.productswidth {
	width: 1046px !important;
}

.inlogbutton {
	width: 20%;
	margin-left: 40% !important;
}

hr {
	border-color: #28a745 !important;
}